body {
  font-family: Arial, sans-serif;
  margin: 40px;
}

h1 {
  background-color: coral;
  padding: 10px;
}

p {
  background-color: gold;
  color: green;
  text-align: justify;
  padding: 10px;
}
